// COLORS ----------------------/
$color-pri: #58e1c1;
$color-sec: #51ddfc;
$color-teri: #777;
$color-quat: #fff;

$img-border: 1px solid #ccc;

$btn-error: #e4757a;
$btn-info: #927bc1;
$btn-success: #63cc82;
$btn-warning: #fd7856;


// FONTS ----------------------/

$font-primary: 'Lato', sans-serif;

$font-light: 300;
$font-bold: 700;


// STYLING -------------------/

$primary-rad: 5px;


// BUTTONS -------------------/

$buttons: (
    'default': $color-sec,
    'error': $btn-error,
    'info': $btn-info,
    'success': $btn-success,
    'warning': $btn-warning,
);

// THEMES -------------------/

$themes: (
    #927bc1,
    #fd7856,
    #deb2ee,
    #7ee6fd,
    #88d9a0,
    #4da2bb,
    #ec9fa3,
    #fd9f85,
    #e4757a,
    #63cc82,
    #51ddfc,
    #80e8d1,
);

// MEDIA QUERIES

$break-m: 768px;



