/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-primary;
    color: $color-teri;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $color-pri;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-light;
    color: $color-teri;
  }
  
  .link {
    color: $color-sec;
    font-weight: $font-bold;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-light;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-pri;
    border-radius: 5px;
  }